/.jp/**/QUERY_MESSAGE.md
/.jp/conversations/.trash
# Conversations, until encrypted.
# /.jp/conversations/*

# Rust specific
**/target
/.cargo/config.toml
/rustc-ice-*
lcov.info

# Logs
*.log
/tmp

# Agentic-Shepherd
.agentic-shepherd/code-map.md
.agentic-shepherd/log/
