[package]
name = "jp_term"

authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
comfy-table = { workspace = true }
serde_json = { workspace = true, features = ["preserve_order"] }
syntect = { workspace = true, features = ["regex-fancy", "default-themes", "default-syntaxes"] }

[lints]
workspace = true
