[package]
name = "jp_tool"

authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
camino = { workspace = true, features = ["serde1"] }
serde = { workspace = true, features = ["std", "derive"] }
serde_json = { workspace = true, features = ["std", "preserve_order"] }

[lints]
workspace = true
