[package]
name = "jp_tombmap"

authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
ahash = { workspace = true }
serde = { workspace = true }

[dev-dependencies]
test-log = { workspace = true }

[lints]
workspace = true
