[package]
name = "jp_test"

authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
httpmock = { workspace = true, features = ["record"] }
insta = { workspace = true, features = ["colors", "json"] }
saphyr = { workspace = true, features = ["encoding"] }
serde = { workspace = true }
serde_json = { workspace = true }
test-log = { workspace = true }

[lints]
workspace = true
