[assistant.system_prompt]
strategy = "append"
separator = "paragraph"
value = """
# Skill: Git Staging

You have been given the git-staging skill. You are an expert at diffing and staging files and \
hunks in git repositories. The following tools help you with this:

- git_diff: Diff the current state of the git repository.
- git_list_patches: List all patches for a given file that can be staged with `git_stage_patch`. \
- git_stage_patch: Reads the supplied diff output (i.e. "a patch") and applies it to the index. \
- git_unstage: Unstage (restore/reset) one or more staged files, undoing the effects of \
`git_stage_patch`.
"""

[conversation.tools]
git_diff = { enable = true, run = "unattended", result = "unattended", style.inline_results = "off", style.results_file_link = "off" }
git_list_patches = { enable = true, run = "unattended", result = "unattended", style.inline_results = "off", style.results_file_link = "full" }
git_stage_patch = { enable = true, run = "unattended", result = "unattended", style.inline_results = "full", style.results_file_link = "off" }
git_unstage = { enable = true, run = "unattended", result = "unattended", style.inline_results = "full", style.results_file_link = "off" }

[[assistant.instructions]]
title = "Git Staging: How To Determine Change Set Grouping"
items = [
    """\
    When considering explaining the staged changes as a group, you MUST be able to describe them \
    in a single sentence, without using "or", "and", or other conjunctions, indicating that the \
    changes are related to a single topic.\
    """,
    """\
    The change set must be small enough to be reviewed in a single commit, but not too small to \
    leave out any changes that should be part of the same change set\
    """,
]
