extends = [
    "../.config/jp/personas/default.toml",
    "mcp/tools/**/*.toml",
]

config_load_paths = [
    ".config/jp",
    ".config/jp/personas",
]

[providers.llm]
anthropic.beta_headers = [
    "context-1m-2025-08-07",
    "interleaved-thinking-2025-05-14",
    "context-management-2025-06-27",
    # TODO: This should be automatically added if a tool has `strict` set to
    # `true`.
    "structured-outputs-2025-11-13",
]

[providers.llm.aliases]
# Anthropic aliases
anthropic = "anthropic/claude-sonnet-4-5"
claude = "anthropic/claude-sonnet-4-5"
sonnet = "anthropic/claude-sonnet-4-5"
opus = "anthropic/claude-opus-4-5"
haiku = "anthropic/claude-haiku-4-5"
# OpenAI aliases
openai = "openai/gpt-5.2"
chatgpt = "openai/gpt-5.2"
gpt = "openai/gpt-5.2"
gpt5 = "openai/gpt-5.2"
gpt5-mini = "openai/gpt-5-mini"
gpt-mini = "openai/gpt-5-mini"
gpt5-nano = "openai/gpt-5-nano"
gpt-nano = "openai/gpt-5-nano"
o3-research = "openai/o3-deep-research"
o4-mini-research = "openai/o4-mini-deep-research"
codex = "openai/gpt-5-codex"
gpt-5-codex = "openai/gpt-5-codex"
codex-mini = "openai/codex-mini-latest"
# Google aliases
google = "google/gemini-3-pro-preview"
gemini = "google/gemini-3-pro-preview"
gemini-pro = "google/gemini-3-pro-preview"
gemini-flash = "google/gemini-2.5-flash"
gemini-lite = "google/gemini-2.5-flash-lite"

[conversation.title.generate.model]
id = "anthropic/claude-3-5-haiku-latest"
parameters.reasoning = "off"

[style.code]
copy_link = "osc8"

[style.reasoning]
display = "full"

[conversation.tools.'*']
run = "ask"
