[package]
name = "tools"

authors.workspace = true
description.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
jp_tool = { workspace = true }

base64 = { workspace = true, features = ["std"] }
camino = { workspace = true }
convert_case = { workspace = true }
crossbeam-channel = { workspace = true, features = ["std"] }
crossterm = { workspace = true }
duct = { workspace = true }
fancy-regex = { workspace = true, features = ["perf", "std", "unicode"] }
glob = { workspace = true }
grep-printer = { workspace = true }
grep-regex = { workspace = true }
grep-searcher = { workspace = true }
ignore = { workspace = true }
indoc = { workspace = true }
jp_github = { workspace = true, optional = true }
quick-xml = { workspace = true, features = ["encoding", "serialize"] }
reqwest = { workspace = true, features = [
    "charset",
    "http2",
    "json",
    "rustls-tls",
    "stream",
] }
serde = { workspace = true, features = ["std", "derive", "alloc"] }
serde_json = { workspace = true, features = ["std", "preserve_order", "alloc"] }
similar = { workspace = true, features = ["text", "unicode", "inline"] }
strip-ansi-escapes = { workspace = true }
chrono = { workspace = true }
tokio = { workspace = true, features = ["full"] }
url = { workspace = true, features = ["serde", "std"] }

[features]
github = ["dep:jp_github"]

[dev-dependencies]
assert_matches = { workspace = true }
camino-tempfile = { workspace = true }
insta = { workspace = true, features = ["colors"] }
pretty_assertions = { workspace = true, features = ["std"] }
test-log = { workspace = true }

[lints]
workspace = true

[[bin]]
name = "jp-tools"
path = "src/main.rs"
