name: rust
on:
  pull_request:
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  JUST_TIMESTAMP: true
  JUST_COLOR: always
  JUST_EXPLAIN: true
  JUST_VERBOSE: 4
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith(github.ref, 'refs/tags/') }}
jobs:
  rust:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        task: [build, lint, fmt, test, docs, coverage, deny, insta, shear, vet]
    name: ${{ matrix.task }}
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v6
      - uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        id: restore-cache
        with:
          path: |
            ~/.rustup
            ~/.cargo/bin/
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: toolchain-${{ matrix.task }}
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v2
      - uses: Swatinem/rust-cache@7e1e2d0a10862b34e5df481373b2b0f295d1a2ef # v2
        with:
          key: ${{ matrix.task }}
          cache-bin: false
          cache-workspace-crates: true
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - run: just ${{ matrix.task }}-ci
      - if: ${{ matrix.task == 'coverage' }}
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2
        with:
          file: lcov.info
          fail-on-error: false
      - if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: |
            ~/.rustup
            ~/.cargo/bin/
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
